@charset "UTF-8";

/*Estilo para telas*/

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color:blue;
    color: white;
}

header > h1{
    text-align: center;
}

menu ul{
    list-style-type: none;
    background-color: aliceblue;
}

menu li{
    display: inline-block;
    padding: 10px;
    background-color:skyblue;
    color: black;
}

article{
    width: 600px;
    display: block;
    margin: auto;
}